ariadne==0.11.0
asgiref==3.2.7
autopep8==1.5.3
Django==3.0.14
django-cors-headers==3.3.0
django-extensions==2.2.9
graphql-core==3.0.5
gunicorn==20.0.4
# psycopg2-binary==2.8.5
pycodestyle==2.6.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
starlette==0.13.4
toml==0.10.1
typing-extensions==3.7.4.2
whitenoise==5.1.0
graphqlclient==0.2.4
indic_transliteration==2.1.0